* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styles for nav bar */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.logo > h2 {
    color: red;
    font-size: 1rem;
    margin-left: 14px;
    cursor: pointer;
}

.nav-links > ul {
    display: flex;
    justify-content: space-between;
    margin-right: 14px;
}

.nav-links > ul > li {
    display: inline-block;
    list-style-type: none;
}

.nav-links > ul > li > a {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    color: black;
    text-decoration: none;
}

.language-translator {
    font-size: 10px;
}

.signUp-active {
    background-color: rgb(243, 14, 14);
    border-radius: 5px;
}

.nav-links > ul > li > .signUp-active {
    color: white;
}
/* Styles for nav bar */

/* Styles for home banar */
.banar {
    padding: 30px;
    background-color: rgb(241, 39, 39);
}

.banar > h1 {
    color: white;
    font-size: 2rem;
}

.banar > p {
    color: white;
    margin-top: 14px;
}

.banar > form > button {
    margin-top: 20px;
    color: red;
    width: 110px;
    background-color: white;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Styles for home banar */

/* Styles for how it works section */
main {
    margin-top: 50px;
}

main > h2 {
    text-align: center;
    font-size: 1rem;
}

.how-it-works-holder {
    margin-top: 50px;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.how-it-works-content {
    text-align: center;
}

.how-it-works-content > p {
    margin-top: 5px;
}
/* Styles for how it works section */

/* Styles for global reach section */
.global-reach-holder {
    margin-top: 80px;
    margin-left: 60px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left side */
.left-content {
    width: 50%;
}
.global-reach {
    margin-bottom: 22px;
}
.global-p-1 {
    margin-bottom: 10px;
}
.global-p-2 {
    margin-bottom: 10px;
}
.global-p-3 {
    margin-bottom: 10px;
}
.global-p-4 {
    margin-bottom: 22px;
}
.left-content > form > button {
    width: 150px;
    padding: 6px;
    color: white;
    background-color: red;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* left side */

/* right side */
.right-content {
    width: 50%;
    height: 100%;
}

.right-content > img {
    width: 480px;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
}
/* right side */
/* Styles for global reach section */

/* Styles for footer section */
footer {
    margin-top: 50px;
    padding: 50px;
    background-color: #393e46;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enrol-footer-info > h1 {
    color: #fff;
    margin-bottom: 14px;
}

.enrol-footer-info > p {
    color: rgb(111, 109, 109);
    margin-top: 10px;
}

.links-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.links {
    margin-right: 150px;
    position: absolute;
    left: -250px;
    bottom: -36px;

}

.links > h1 {
    color: #fff;
}

.links > ul > li {
    list-style-type: none;
    padding: 5px;
}

.links > ul > li > a {
    text-decoration: none;
    color: rgb(111, 109, 109);
}

.Contact > h1 {
    color: #fff;
    margin-bottom: 12px;
}

.contact-content > p {
    color: rgb(111, 109, 109);
    margin-top: 4px;
}
/* Styles for footer section */


/* Styles for Sign Up Form */
.signUp {
    width: 495px;
    padding: 20px;
    margin: 1% auto 0;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.sigh-content {
    text-align: center;
    margin-bottom: 16px;
}

.sigh-content > small {
    color: rgb(131, 126, 126);
}

.sigh-content > small > a {
    color: red;
    text-decoration: none;
}

.fullName, .passwords, .country-Dbirth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border-radius: 3px;
    border: 1px solid gainsboro;
}

.email, .whatsapp, .gender {
    margin-bottom: 25px;
}

.signUp-btn {
    width: 100%;
    padding: 8px;
    color: #fff;
    background-color: red;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
/* Styles for Sign Up Form */